table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    max-width: auto;
    max-height: auto;
    border: 1px solid #776464;
    text-align: left;
    padding: 8px;
    color: black;
    font-weight: bolder;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    
  }